html
    head
        meta(charset="utf-8")
        title Qinfeng Education

        link(rel="stylesheet", href="/libs/bootstrap/dist/css/bootstrap.min.css")
        link(rel="stylesheet", href="/libs/flatpickr/dist/flatpickr.min.css")
    body
        nav.navbar.navbar-inverse
            .container-fluid
                .navbar-header
                    button.navbar-toggle.collapsed(type="button" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar")
                        span.sr-only Toggle navigation
                        span.icon-bar
                        span.icon-bar
                        span.icon-bar
                    a.navbar-brand(href="#") QinFeng Education
        
        .container
            .row
                //- .col-sm-10.col-sm-offset-1.text-center
                .col-sm-6
                    h2.text-right Lesson Arrangment
                    form#lessonForm(action="/lesson", method="POST")
                        .row
                            .col-sm-6
                                .form-group
                                    label(for="name") Lesson Name
                                    input.form-control#name(type="text", name="name" required)
                            .col-sm-6
                                .form-group
                                    label(for="teacher") Teacher Name
                                    input.form-control#teacher(type="text", name="teacher" required)
                        .form-group
                            label(for="time") Time
                            .row
                                .col-sm-4
                                    label.sr-only(for="week") week
                                    //- select.form-control#week(type="text", name="times[week]", placeholder="Day of week")
                                    select.form-control#week(name="times[week]", placeholder="Day of Week")
                                        option(value="1") Monday
                                        option(value="2") Tuesday
                                        option(value="3") Wensday
                                        option(value="4") Thuesday
                                        option(value="5") Friday
                                        option(value="6") Saturday
                                        option(value="7") Sunday
                                .col-sm-4
                                    label.sr-only(for="begin") begin
                                    input.form-control#begin(type="text", name="times[timeBegin]", placeholder="Begin At")
                                .col-sm-4
                                    label.sr-only(for="end") end
                                    input.form-control#end(type="text", name="times[timeEnd]", placeholder="End At")
                        .form-group.pull-right
                            button.btn.btn-default(type="submit") Submit
                .col-sm-6
                    h2#result Waiting for scanning...
                    form#attendForm(action="/attend", method="POST")
                        .form-group
                            label(for="username") username
                            input.form-control#username(type="text", name="username" readonly required)
                        .form-group
                            label(for="lesson") lesson
                            //- input.form-control#lesson(type="text", name="lesson" required)
                            select.form-control#lesson(name="lesson")
                        button.btn.btn-default(type="submit") Submit
            .row
                .col-sm-6
                    table.table.table-condensed.table-bordered.table-striped
                        thead
                            tr
                                th Name
                                th Teacher
                                th Time
                        tbody
                            each item_l in lessons
                                tr
                                    td #{item_l.name}
                                    td #{item_l.teacher}
                                    td Every #{moment().isoWeekday(item_l.times.week).format('dddd')} From #{item_l.times.timeBegin} To #{item_l.times.timeEnd}
                .col-sm-6
                    table.table.table-condensed.table-bordered.table-striped
                        thead
                            tr
                                th Name
                                th Class
                                th Timestamp
                        tbody
                            each item in list
                                tr
                                    td #{item.nickname}
                                    td #{item.lesson}
                                    td #{moment(item.createAt).format('dddd YYYY/MM/DD HH:mm:ss')}
                    
                        


                        
                    
                    

    script(src="/libs/jquery/dist/jquery.min.js")
    script(src="/libs/bootstrap/dist/js/bootstrap.min.js")
    script(src="/libs/wilddog/wilddog-web-sync.js")
    script(src="/libs/flatpickr/dist/flatpickr.min.js")
    script(type="text/javascript").
        $(function(){
            var config = {
                syncURL: "https://wd1656114870exzhuv.wilddogio.com"
            }
            wilddog.initializeApp(config)
            var ref = wilddog.sync().ref('scanObj')
            ref.on('child_added', function(snapshot){
                //- var post = snapshot.val()
                //- console.log(post)
                $('#username').val(snapshot.val().nickname)
                var text = $('#result').val()
                $('#result').val(text + 'Incoming!')
                $.get('/scanLess', function(result){
                    //- $('#lesson').val(result[0].name)
                    console.log(result)
                    for (var item in result){
                        console.log(result[item].name)
                        $('#lesson').append("<option value='" + result[item].name + "'>" + result[item].name + "</option>")
                    }
                })
            })
            $('#begin').flatpickr({
                enableTime: true,
                noCalendar: true,
                enableSeconds: false,
                time_24hr: true,
                dateFormat:"Hi",
                defaultDate: "1200"
            })
            $('#end').flatpickr({
                enableTime: true,
                noCalendar: true,
                enableSeconds: false,
                time_24hr: true,
                dateFormat:"Hi",
                defaultDate: "1200"
            })
        })
        

                
                        
            